{% extends 'layouts/iframe.html' %}

{% block head %}
    <style>
        .info.legend {
            background: white;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            padding: 5px 10px;
            line-height: 18px;
            color: #555;
        }
    .legend-gradient {
        display: flex;
        height: 10px;
        margin-bottom: 5px;
    }

    .legend-gradient i {
        flex-grow: 1;
        height: 100%;
    }

    .legend-labels {
        display: flex;
        justify-content: space-between;
    }


    .leaflet-container :focus:not(:focus-visible) {
        outline: 0;
    }


    </style>
{% endblock %}

{% block content %}
<div class="container" id="map" style="height:600px"></div>
{% endblock %}

{% block scripts %}
    <script type="module">
        import { createMap } from "{{ url_for('static', filename='js/maps/wfns_map.js') }}";

        async function loadMap() {
            let geojsonData = null;
            try {
                const response = await fetch('{{ url_for("static", filename="geojson/wfns.geojson") }}');
                geojsonData = await response.json();
                const map = createMap(geojsonData, true);
                window.map = map;
            } catch (error) {
                console.error('Error loading the geoJSON data:', error);
            }
        }

        window.addEventListener('load', loadMap);
    </script>
{% endblock %}
