@use "bulma/sass/utilities" with (
    // $primary: hsl(240,100%,50.2%)
    
    // ucsf dark
    // $primary: hsl(216,87.2%,15.3%)

    // ucsf lighter blue
    // $primary: hsl(220,80.4%, 30%),

    // ucsf light blue 3
    $primary: hsl(201, 80%, 44%),

    // ucsf light green
    $success: hsl(127, 52%, 41%),

    $link: hsl(325, 66%, 46%),
    
  );

  @use "bulma/sass/layout" with(
    
  $footer-padding: 1.5rem 1.5rem 1.5rem,
  );

  @use "bulma/sass/components" with (
    $navbar-height: 4.25rem,

  );

  // @forward "bulma/sass/base";
  // @forward "bulma/sass/elements/button";
  // @forward "bulma/sass/elements/title";
  // @forward "bulma/sass/elements/box";
  // @forward "bulma/sass/elements/icon";
  // @forward "bulma/sass/elements/content";

  // @forward "bulma/sass/layout/hero";
  // @forward "bulma/sass/layout/section";
  // @forward "bulma/sass/layout/footer";
  // @forward "bulma/sass/layout/hero";
  // @forward "bulma/sass/layout/container";
  // @forward "bulma/sass/layout/level";

  // @forward "bulma/sass/components/navbar";
  // @forward "bulma/sass/components/card";
  // @forward "bulma/sass/components/dropdown";
  // @forward "bulma/sass/components/menu";
@forward "bulma/sass/";


// @use "bulma/sass/utilities/mixins";

// // .bulma-arrow-mixin {
// //     @include mixins.arrow(blue);
// //   }

// // .bulma-fa-mixin {
// // @include mixins.fa(1rem, 2rem);
// // background-color: lavender; // For demo purposes
// // }