<html>

<!-- lessons learned

    1. module scope is just in the module.
    2. after the object is created it needs to be made available outside the scope with window

-->

<head>
    <script type="module" src="./static/js/simplejs.js"></script>
    
    <script type="module">
        const config = {
            value: 'this is the second message'
        }
        import { createSimpleJS } from './static/js/createsimple.js';

        const createSimple = createSimpleJS(config);
        console.log('createSimple', createSimple);
        window.createSimple = createSimple;
    </script>


    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js" defer></script>

</head>

<body>
    <div x-data="simpleJS('hi tyler')">
        <h1 x-text="message"></h1>
        <!-- <h2 x-text="message2"></h2> -->
    </div>
    <div x-data="createSimple">
        <h1 x-text="message2f"></h1>
    </div>
</body>

</html>