{% extends "base.html" %}
{% block title %}CANESCA{% endblock %}

{% block content %}
{% set hero_text = "Anesthesiologists in East, Central and Southern Africa" %}
{% set hero_subtitle = "Point locations and hospital of practicing anesthesiologists" %}

{% include 'includes/hero_subpage.html' with context %}

<div class="container mt-6">
    <iframe
    src="https://workforce-embed.streamlit.app/CANESCA/?embed=true&embed_options=light_theme"
    style="width: 100%; height:75vh; border: none; display:block;"
    >
    </iframe>
</div>

{% endblock %}