{% extends 'base.html' %}

{% block title %}Global Surgical and Anesthesia Workforce Mapping Project{% endblock %}

{% block content %}

<section class="hero has-background-primary-soft">
    <div class="hero-body">
        <div class="container columns">
            <div class="column is-5 pt-6 has-text-right">
                <p class="title is-2 has-text-primary-bold">
                    Global Surgical and Anesthesia Workforce Mapping Project
                </p>
                <p class="subtitle pt-6 is-4 has-text-primary-bold">
                    Visualizing the world's perioperative workforce
                </p>
            </div>
            <div class="column">
                <img src="static/images/hero4_alpha.png" alt="World map">
            </div>
        </div>
    </div>
    </div>
</section>
<section class="section">

    <div class="container pb-6">
        <p class="title is-4 has-text-centered ">Our Mission</p>
        <div class="columns is-centered">
            <div class="column is-two-thirds ">
                <div class="box content">
                    <p><strong>Our mission</strong> is to create a unified, accessible hub for exploring the global perioperative workforce.
                    Recognizing the fragmented nature of information in the global surgery space, our platform aims to
                    consolidate various workforce maps into a single, user-friendly interface. This initiative is not just about
                    data aggregation; it's a step towards greater collaboration and understanding in global healthcare. </p>
                    
                    <p><strong> By providing </strong>a comprehensive view of the perioperative workforce worldwide, we empower researchers,
                    policymakers, and healthcare professionals to make informed decisions, foster connections, and ultimately,
                    improve surgical care globally.</p>
                </div>
        
        </div>
    </div>

    <div class="container">
        <p class="title is-4 has-text-centered pb-4">Our Maps</p>


        <div class="columns">
            <div class="column">
                {% set card_title = "<p>Global Anesthesia Workforce Map <br><br></p>"%}
                {% set card_content = "
                <div class='content'>
                    <ul>
                        <li>Anesthesia provider numbers by country</li>
                        <li>Provider density (per 100,000 population)</li>
                        <li>Non-physician providers (Nurse Anesthetists and others)</li>
                    </ul>
                </div>" %}
                {% set card_href = "/gaws" %}
                {% set card_imgref = "static/images/card_gaws_small.png" %}
                {% include 'includes/cards.html' %}
            </div>

            <div class="column">
                {% set card_title = "Global Otolaryngologist/ENT Workforce" %}
                {% set card_content = "<div class='content'>
                    <ul>
                        <li>Number of ENT physicians per country </li>
                        <li>and per 100,000 population (density)</li>
                    </ul>
                </div>" %}
                {% set card_href = "/ohns" %}
                {% set card_imgref = "static/images/card_ohns_small.png" %}
                {% include 'includes/cards.html' %}
            </div>

            <div class="column">
                {% set card_title = "Global Neurosurgical Workforce <br><br>" %}
                {% set card_content = "
                <div class='content'>
                    <ul>
                        <li>Number of neurosurgeons per country, </li>
                        <li>and per 100,000 population (density)</li>
                    </ul>
                </div>" %}
                {% set card_href = "/wfns" %}
                {% set card_imgref = "static/images/card_wfns_small.png" %}
                {% include 'includes/cards.html' %}
            </div>

            <div class="column">
                {% set card_title = "Anesthesiologists in Central, East, and Southern Africa" %}
                {% set card_content = "
                <div class='content'>
                    <ul>
                        <li>Explore the locations of working anesthesiologists in the Central, East, and Southern Africa
                            region</li>
                        <li>See providers at the level of the individual hospital, and aggregated by district</li>
                    </ul>
                </div>" %}
                {% set card_href = "/canesca" %}
                {% set card_imgref = "static/images/card_canesca_small.png" %}
                {% include 'includes/cards.html' %}
            </div>



        </div>
    </div>

</section>


{% endblock %}