{% extends 'layouts/map_page.html' %}

{% block head %}

{{ super() }}

<script type="text/javascript" src="./static/geojson/ohns_leaflet.geojson"></script>
<script type="module">
    const config = {
        searchColumn: 'NAME_LONG', // Example of a column used for searching
        initialSortColumn: 'NAME_LONG',
        columns: {
            NAME_LONG: 'NAME_LONG',
            'Oral, Head & Neck Surgeons per Capita': 'Oral, Head & Neck Surgeons per Capita',
            'Oral, Head, & Neck Surgeons': 'Oral, Head, & Neck Surgeons'
        }
    };
    import { createTableHandler } from './static/js/tableHandler.js';
    const TableHandler = createTableHandler(ohnsData.features, config);
    window.TableHandler = TableHandler;

</script>


<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js" defer></script>


{% endblock %}

{% block title %}Global ENT/OHNS Workforce{% endblock %}

{% set hero_text = "Global ENT/OHNS Workforce" %}
{% set hero_subtitle = "Number of OHNS physicians per 100,000 population (density)" %}

{% block about_content %}
<p>The Global OHNS initiative performed a recent study quantifying the number of otolaryngology-head and neck surgery
    (OHNS) care clinicians per capita worldwide. This was done by disseminating a cross-sectional electronic survey to
    professional society leaders, medical licensing boards, public health officials, and practicing OHNS clinicians.
</p>
<p>Respondents from 114 countries comprising 84% of the world population estimate a workforce density of 2.19 OHNS
    clinicians per 100 000 population. Variations were noted by World Health Organization regions and World Bank income
    groups.</p>
<p>This cross-sectional survey study provides a comprehensive assessment of the global OHNS workforce. These results can
    guide focused investment in training and policy development to address disparities in the availability of OHNS
    clinicians.</p>
<p>Below are interactive maps to display the results from this study.</p>

<p class="has-text-weight-bold"><a href='#data-table'>View the data table. <span class='icon'><i class="fa-solid fa-turn-down"></i></span></a></p>


{% endblock %}

{% block citation %}
<div class="dropdown-item ">
    <p class="is-italic has-text-weight-semibold">Petrucci, Beatriz, Samuel Okerosi, Rolvix H. Patterson, Sara B.
        Hobday, Valerie Salano, Christopher J. Waterworth, Robert M. Brody, et al. 2023. <a
            href='https://jamanetwork.com/journals/jamaotolaryngology/fullarticle/2808978' target="_blank">“The Global
            Otolaryngology-Head and Neck Surgery Workforce.”</a> JAMA Otolaryngology-- Head & Neck Surgery, August.
        https://doi.org/10.1001/jamaoto.2023.2339.</p>
</div>

{% endblock %}

{% block map %}

<div class="container">
    <div class='container my-6' id="map" style="height:600px; background-color: #FFFFFF;"></div>
</div>
<section class="container my-6" x-data="TableHandler">
    <div class="title" id="data-table">Data Table</div>
    <div class="columns">
        <div class='column is-one-third'>
            <div class="field">
                <div class="control">
                    <input class="input is-rounded is-focused" type="text" placeholder="Search" x-model="search">
                </div>
            </div>
        </div>
        <div class="column">

        </div>
    </div>
    <div class="container" style="max-height: 500px; overflow-y: auto; min-height: 500px">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Country <span class='icon' x-on:click="sort('NAME_LONG')"><i class="fa-solid fa-sort"></i></span></th>
                    <th>Number of OHNS/ENT Providers <span class='icon' x-on:click="sort('Oral, Head, & Neck Surgeons')"><i class="fa-solid fa-sort"></i></span></th>
                    <th>Density of OHNS/ENT Providers per 100,000 Population <span class='icon' x-on:click="sort('Oral, Head & Neck Surgeons per Capita')"><i class="fa-solid fa-sort"></i></span></th>

                </tr>
            </thead>
            <tbody>
                <template x-for="item in filteredData()" :key="item.NAME_LONG || 'default_' + index" >
                    <tr>
                        <td  x-text="item['NAME_LONG']"></td>
                        <td x-text="item['Oral, Head, & Neck Surgeons']"></td>
                        <td x-text="item['Oral, Head & Neck Surgeons per Capita']"></td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</section>




{% endblock %}

{% block scripts %}

<script type='module'>
        import { createOHNSmap } from "{{ url_for('static', filename='js/maps/ohns_map.js') }}";
        // is this an iframe?
        const map = createOHNSmap(ohnsData, false);
        window.map = map;
</script>

{% endblock %}