<!DOCTYPE html>
<html data-theme="light">

{% include 'includes/head.html' %}
{% include 'includes/nav.html' %}

<body>
    <section class="hero is-small has-background-primary-80">
        <div class="hero-body">
            <p class="title is-1 has-text-centered pb-4 has-text-primary-dark">Global ENT/OHNS Workforce</p>
        </div>
    </section>
    <div class="container is-max-desktop">

            <div class="content mt-6 mb-6">
                <p>The Global OHNS initiative performed a recent study quantifying the number of otolaryngology-head and neck surgery (OHNS) care clinicians per capita worldwide. This was done by disseminating a cross-sectional electronic survey to professional society leaders, medical licensing boards, public health officials, and practicing OHNS clinicians. </p>
                <p>Respondents from 114 countries comprising 84% of the world population estimate a workforce density of 2.19 OHNS clinicians per 100 000 population. Variations were noted by World Health Organization regions and World Bank income groups.</p>
                <p>This cross-sectional survey study provides a comprehensive assessment of the global OHNS workforce. These results can guide focused investment in training and policy development to address disparities in the availability of OHNS clinicians.</p>
                <p>Below are interactive maps to display the results from this study.</p>
            </div>


    </div>
    <div class="container">
        <iframe
        src="https://workforce-embed.streamlit.app/OHNS/?embed=true&embed_options=light_theme"
        style="width: 100%; height:75vh; border: none; display:block;"
        >
        </iframe>
    </div>

</body>

</html>