{% extends 'layouts/map_page.html' %}

{% block head %}

{{ super() }}

<script type="module">
    import { createMap } from './static/js/maps/wfns_map.js';
    import { createTableHandler } from './static/js/tableHandler.js';

    document.addEventListener('alpine:init', () => {
        Alpine.data('tableMapHandler', () => ({
            loading: true,
            map: null,
            tableHandler: null,
            search: '',

            async init() {
                try {
                    const response = await fetch('{{ url_for("static", filename="geojson/wfns.geojson.gz") }}');
                    const data = await response.json();
                    this.initializeMap(data);
                    this.initializeTableHandler(data);
                    this.loading = false;
                } catch (error) {
                    console.error('Error loading the geoJSON data:', error);
                    this.loading = false;
                }
            },

            initializeMap(data) {
                this.map = createMap(data, false);
                // Assuming your createMap function appends the map to a DOM element already
            },

            initializeTableHandler(data) {
                const config = {
                    searchColumn: 'NAME_LONG', // Example of a column used for searching
                    initialSortColumn: 'NAME_LONG',
                    columns: {
                        NAME_LONG: 'NAME_LONG',
                        'density_2022': 'density_2022',
                        'workforce_2022': 'workforce_2022'
                    }
                };
                this.tableHandler = createTableHandler(data.features, config);

            },
            get filteredData() {
                return this.tableHandler ? this.tableHandler.filteredData() : [];
            },
            updateSearch() {
                if (this.tableHandler) {
                    this.tableHandler.search = this.search; // Update table handler's search property
                }
            },

            sort(column) {
                if (this.tableHandler) {
                    this.tableHandler.sort(column);
                }
            },
            roundOrNot(value) {
                if (this.tableHandler) {
                    return this.tableHandler.roundOrNot(value);
                }
            },
            roundInt(value) {
                if (this.tableHandler) {
                    return this.tableHandler.roundInt(value);
                }
            }
        }));
    });
</script>


<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js" defer></script>


{% endblock %}

{% block title %}Global Neurosurgical Workforce{% endblock %}

{% set hero_text = "Global Neurosurgical Workforce" %}
{% set hero_subtitle = "Number of Neurosurgeons per 100,000 population (density)" %}

{% block about_content %}
<p>The World Neurosurgery Workforce Map is an interactive, ongoing, and open-source project by WFNS to better pinpoint the areas most in need of neurosurgical support. You can get to know how many neurosurgeons are available in your country or any other country, and also the density of Neurosurgeons per 100,000 in any country in the world.

</p>

<p class="has-text-weight-bold"><a href='#data-table'>View the data table. <span class='icon'><i
                class="fa-solid fa-turn-down"></i></span></a></p>


{% endblock %}

{% block citation %}

<style>.dropdown-item {
    word-wrap: break-word; /* Ensure long words do not cause overflow */
}</style>
<div class="dropdown-item ">
    <p class="is-italic has-text-weight-semibold">Gupta, Saksham, Zsombor T. Gal, Tejas S. Athni, Chrystal Calderon, William É. Callison, Olaoluwa E. Dada, Winston Lie, et al. 2024. <a href='https://doi.org/10.3171/2023.9.JNS231615' target="_blank"> “Mapping the Global Neurosurgery Workforce.
        Part 1: Consultant Neurosurgeon Density.” </a> Journal of Neurosurgery -1 (aop): 1–9.
</p>
</div>

{% endblock %}

{% block map %}
<div x-data="tableMapHandler">
    <div class="container">
        <div class='container my-6' id="map" style="height:600px; background-color: #fafafa;"></div>
    </div>
    <section class="container my-6">
        <div class="title" id="data-table">Data Table</div>
        <div class="columns">
            <div class='column is-one-third'>
                <div class="field">
                    <div class="control">
                        <input class="input is-rounded is-focused" type="text" placeholder="Search" x-model="search"
                            @input='updateSearch'>
                    </div>
                </div>
            </div>
            <div class="column">

            </div>
        </div>
        <div class="container" style="max-height: 500px; overflow-y: auto; min-height: 500px">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Country <span class='icon' x-on:click="sort('NAME_LONG')"><i
                                    class="fa-solid fa-sort"></i></span></th>
                        <th>Number of Neurosurgeons <span class='icon' x-on:click="sort('workforce_2022')"><i
                                    class="fa-solid fa-sort"></i></span>
                        </th>
                        <th>Density of Neurosurgeons per 100,000 Population <span class='icon'
                                x-on:click="sort('density_2022')"><i class="fa-solid fa-sort"></i></span></th>

                    </tr>
                </thead>
                <tbody>
                    <template x-for="item in filteredData" :key="item.NAME_LONG || 'default_' + index">
                        <tr>
                            <td x-text="item['NAME_LONG']"></td>
                            <td x-text="item['workforce_2022']"></td>
                            <td x-text="item['density_2022']"></td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </section>
</div>



{% endblock %}

{% block scripts %}


{% endblock %}