<html data-theme="light">

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-search/dist/leaflet-search.min.css" />
    <script src="https://unpkg.com/leaflet-search/dist/leaflet-search.min.js"></script>


    <script src="https://d3js.org/d3.v6.min.js"></script>

    {% block head %}

    {% endblock %}
</head>

<body>
    {% block content %}
    <!-- map goes here -->
    {% endblock %}


</body>

{% block scripts %}

<!-- map scripts go here -->

{% endblock %}

</html>