<div class="card">
    <div class="card-header has-background-primary ">
        <p class="card-header-title has-text-primary-invert">
            {{card_title}}
        </p>
    </div>
    <div class="card-image">
        <figure class="image is-5by4">
            <img src={{card_imgref}} alt="Global Anesthesia Workforce Map">
        </figure>
    </div>
    <div class="card-content">{{card_content|safe}}</div>
    <div class="card-footer has-background-success-30">
        <a href= {{card_href}} class='card-footer-item has-text-primary-bold has-text-success-30-invert has-text-weight-bold'>Go</a>
    </div>
</div>