{% block content %}
<nav class="navbar is-white is-fixed-top" style="z-index: 1000;">
    <nav class="navbar-brand">
        <a href="/" class="navbar-item">
            <img src="static/images/icon_alpha_small.png" alt="Logo">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav_menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </nav>
    <nav class="navbar-menu" id="nav_menu">
        <nav class="navbar-start">
            <a href="/" class="navbar-item has-text-weight-bold has-text-bold">Home</a>
        </nav>
        <nav class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <span class="icon has-text-primary">
                        <i class="fas fa-earth-africa"></i>
                  </span>
                  <span class="mx-2 has-text-primary has-text-weight-semibold">Maps</span></a>
                <div class="navbar-dropdown is-right">
                    <a href="/gaws" class="navbar-item">Global Anesthesia Workforce Map</a>
                    <a href="/canesca" class="navbar-item">Anesthesiologists in Central, East, and Southern Africa</a>
                    <a href="/ohns" class="navbar-item">Global Otolaryngologist/ENT Workforce map</a>
                    <!-- <a href="/wfns" class="navbar-item">Global Neurosurgeon Workforce Map</a> -->
                </div>
            </div>
            <a href="#" class="navbar-item"><span class="icon has-text-success"><i class="fas fa-solid fa-fingerprint"></i></span><span class="has-text-success mx-2 has-text-weight-semibold">About</span></a>
            <a href="/contact" class="navbar-item"><span class="icon has-text-danger"><i class="fa-regular fa-paper-plane"></i></span><span class="has-text-danger has-text-weight-semibold mx-2">Contact</span></a>
        </nav>
    </nav>
</nav>
{% endblock %}

{% block scripts %}

{% endblock %}
