
<nav class="navbar is-white">
    <nav class="navbar-brand">
        <a href="/" class="navbar-item">
            <img src="static/images/icon_alpha.png" alt="Logo" height="160">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav_menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </nav>
    <nav class="navbar-menu" id="nav_menu">
        <nav class="navbar-start">
            <a href="/" class="navbar-item">Home</a>
        </nav>
        <nav class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="#" class="navbar-link">Maps</a>
                <div class="navbar-dropdown is-right">
                    <a href="/gaws" class="navbar-item">Global Anesthesia Workforce Map</a>
                    <a href="/canesca" class="navbar-item">Anesthesiologists in Central, East, and Southern Africa</a>
                    <a href="/ohns" class="navbar-item">Global Otolaryngologist/ENT Workforce map</a>
                </div>
            </div>
            <a href="#" class="navbar-item">About</a>
            <a href="#" class="navbar-item">Contact</a>
        </nav>
    </nav>
</nav>
