<!DOCTYPE html>
<html data-theme="light">
  {% include 'includes/head.html' %}

    
    <!-- href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"> -->

<body>

    {% include 'includes/nav.html' %}
 
    <section class="hero has-background-primary-soft">
        <div class="hero-body">
            <div class="container columns">
                <div class="column is-5 pt-6 has-text-right">
                        <p class="title is-2 has-text-primary-bold">
                            Global Surgical and Anesthesia Workforce Mapping Project
                        </p>
                        <p class="subtitle pt-6 is-4 has-text-primary-bold">
                            Visualizing the world's surgical workforce
                        </p>
                    </div>
                    <div class="column">
                        <img src="static/images/hero4_alpha.png" alt="World map">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">

        <div class="container">
            <p class="title is-4 has-text-centered pb-4">Our Maps</p>
        </div>

        <div class="container columns">
            <div class="column">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">
                            Global Anesthesia Workforce Map
                        </p>
                    </div>
                    <div class="card-content">Anesthesia provider numbers by country, provider density, and Non-physician providers (Nurse Anesthetists and others)</div>
                    <div class="card-footer has-background-info"><a href="/gaws" class='card-footer-item has-text-primary-bold has-text-weight-semibold'>Go</a></div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">
                            Anesthesiologists in Central, East, and Southern Africa
                        </p>
                    </div>
                    <div class="card-content">Explore the locations of working anesthesiologists in the Central, East, and Southern Africa region. Showing hospital locations.</div>
                    <div class="card-footer"><a href="#" class='card-footer-item'>Go</a></div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">
                            Global Otolaryngologist/ENT Workforce map
                        </p>
                    </div>
                    <div class="card-content">card content</div>
                    <div class="card-footer"><a href="#" class='card-footer-item'>Go</a></div>

                </div>
            </div>
        </div>
        
</body>